{
    Idle: (
        texture: "jinrai_idle",
        offset: (0, 0),
        size: (64, 64),
        length: 1,
        speed: 0,
        directions: Column,
    ),
    Walk: (
        texture: "jinrai_walk",
        offset: (0, 0),
        size: (64, 64),
        length: 8,
        speed: 0.1,
        directions: Column,
    ),
    Jump: (
        texture: "jinrai_walk",
        offset: (0, 0),
        size: (64, 64),
        length: 1,
        speed: 0,
        directions: Column,
    )
}
